.aboutme{
  display: flex;
  flex-direction: column;
  padding:2rem;
  align-self: center;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(7,181,217,1) 42%, rgba(255,255,255,1) 82%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 2rem;
  animation: movingBackground 10s ease infinite;
    background-size: 600% 600%;
 height: 40rem;
 width: 80%;
}
#about{
  display: flex;
  flex-direction: column;
   width:30rem;
 padding: 2rem;
box-sizing: border-box;
}
#skills{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    grid-template-rows: repeat(3,9rem);
    column-gap: 1rem;
   row-gap: 1rem;
 
  }
  .skill{
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
}
  
  #aboutme{
    display: flex;
    flex-direction: column;
    
  }
  
  #About{
   margin-bottom: 0;
  
}
p{font-size: 20px;
width: 50rem;
font-weight: bold;

}
@media only screen and (min-width:344px) and (max-width:650px){
  #skills{
  grid-template-columns: repeat(2, 9rem);
  grid-template-rows: repeat(4,5rem);
  width: 100%;
  
}
.contactheader{
  font-size: 22px;
}
.skill{
  padding-left: 1rem;
  box-sizing: border-box;
 
}
p{
  font-size: 15px;
  width: 19rem;
  height: 20rem;
}
#about{padding:0;
height:16rem}

}
@media only screen and (min-width:712px) and (max-width:801px) {
  #skills{
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3,5rem);
    width: 100%;
    
  }
  p{
    font-size: 15px;
    width: 23rem;
    height: 20rem;
  }
  #about{
    padding:0;
  height:16rem}
}



  
  